<%= form_for @artist do |f| %>
  <%= f.autocomplete_field :name, autocomplete_artist_name_artists_path, class: 'blocky-input', placeholder: "search artist leaderboard" %>
<% end %>

<div class=" display-board info-area">

  <div class="artist-list">
  <table style="width:100%" cellspacing="0">
      <tr class="table-headings">
        <td>Artist</td>
        <td>Players</td>
        <td>Top Scorer</td>
      </tr>
   <% @artists.each do |artist| %>
     <% if artist.taken_quizzes.count > 0 %>
        <tr class="highlight">
          <td class="left-align"> <a href="/artists/<%= artist.id %>"><%= artist.name %></a> </td>
          <% avg_scores = TakenQuiz.where(artist_id: artist.id).joins(:user).group('users.id').group('users.id').average(:score)%>

          <td>
          <% users = [] %>
          <% artist.taken_quizzes.each do |takenquiz| %>
            <% users << takenquiz.user_id %>
          <% end %>
          <%= users.uniq.count %>
          </td>
          <% high_scorer = User.find(avg_scores.sort_by {|user_info, avg_score| avg_score}.reverse.first[0][1]) %>
          <td class="left-align"><a href="/users/<%= high_scorer.id %>"><%= high_scorer.username%></a></td>
        </tr>
      <% end %>
    <% end %>
    </div>
</div>
