<h2><%= @artist.name.upcase %> LEADERBOARD</h2>

<br>

<table style="width:100%">
  <tr>
    <td> <h3>Trackmaster</h3> </td>
    <td> <h3>Average Score</h3> </td>
    <td> <h3># Quizzes Taken</h3> </td>
  </tr>

<% @sorted_avg_scores.each do |user_info, avg_score| %>
  <tr>
    <td> <a href="/users/<%= user_info[0] %>"><%= user_info[1].upcase %></a> </td>
    <td> <%= avg_score.round %> </td>
    <td> <%= TakenQuiz.where(["artist_id = ? and user_id = ?", @artist.id, user_info[0] ]).count %></td>
  </tr>
<% end %>

</table>
