<div class="useredit">
  <h1>Edit info</h1>
  <form action="/users/<%=@user.id%>" class="edit_person" id="edit_person_<%=@user.id%>" method="post">
    <div style="display:none">
      <input name="_method" type="hidden" value="put" />
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    </div>

    <% if @user.errors.any? %>
      <div class="error_messages">
        <ul>
          <% for message in @user.errors.full_messages %>
            <li> <%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <br><h1><%=@user.email%></h1><br>
      
      <input id="username" name="user[username]" type="text" value="<%=@user.username%>" />

      <input id="oldpassword" name="user[oldpassword]" type="password" placeholder="current password" />

      <input id="newpassword" name="user[newpassword]" type="password" placeholder="new password" />

      <input id="confirmpassword" name="user[confirmpassword]" type="password" placeholder="confirm password" />

    <button type="submit">edit</button>
  <%= link_to 'delete', user_path(@user), method: :delete, id: "editprofile",
    data:{confirm: "Are you sure you want to delete this account" } %>
  </form>

</div>



