<div class="useredit">
  <h1>Edit info</h1>
  <form action="/users/<%=@user.id%>" class="edit_person" id="edit_person_<%=@user.id%>" method="post">
    <div style="display:none">
      <input name="_method" type="hidden" value="put" />
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    </div>

    <% if @user.errors.any? %>
      <div class="error_messages">
        <ul>
          <% for message in @user.errors.full_messages %>
            <li> <%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <p>
      <label for="username">Username</label>:
      <input id="username" name="user[username]" type="text" value="<%=@user.username%>" />
    </p>

    <p>
      <label for="email">E-mail</label>:
      <input id="email" name="user[email]" type="text" value="<%=@user.email%>" />
    </p>

    <p>If you would like to update your password, please enter your old password below</p>

    <p>
      <label for="oldpassword">Old Password</label>:
      <input id="email" name="user[oldpassword]" type="password" placeholder="Enter old password" />
    </p>

    <p>
      <label for="newpassword">New Password</label>:
      <input id="newpassword" name="user[newpassword]" type="password" placeholder="Enter new password" />
    </p>

    <p>
      <label for="confirmpassword">Confirm Password</label>:
      <input id="confirmpassword" name="user[confirmpassword]" type="password" placeholder="Confirm password" />
    </p>

    <button type="submit">Edit!</button>
  </form>

  <%= link_to 'Delete', user_path(@user), method: :delete,
    data:{confirm: "Are you sure you want to delete this account" } %>
</div>



