
<div class="userprofile">
	<h2><%=@user.username%>'s stats</h2>

	<% if @user.id == session[:user_id] %>
		<a href="/users/<%= @user.id %>/edit">edit</a>
	<% end %>

	<br>
	<table>
  <tr class="table-headings">
    <td>artist</td>
    <td>score</td>
    <td>taken</td>
  </tr>
  <% @artist_taken.each do |artist_id, count| %>
  	<tr class="table-row">
	  	<% artist = Artist.find(artist_id) %>
		    <td><a href="/artists/<%=artist_id%>"><%= artist.name %></a></td>
		    <td><%= @user.artist_score(artist).round %></td>
		    <td class="taken-count"><%= count %></td>
  	</tr>
  <% end%>
</table>
	<ul>

	</ul>
</div>
