<div class="returnedstats">
	<h3>Stats</h3>
	<ul>
		<li>Score: <%= quiz_stats[:score]%></li>
		<li>Time Elapsed: <%= quiz_stats[:time]/1000%></li>
		<li>Number of right answers: <%= quiz_stats[:num_of_correct] %></li>
	</ul>
	<h3>Tracks you heard:</h3>
	<ul>
		<% quiz_stats[:itunes_track_ids].each do |id| %>
			<li data-track-id="<%=id%>"><%=id%></li>
		<% end %>
	</ul>
	<h3>Check out <a href = "/artists/<%=quiz_stats[:artist_id]%>"><%=Artist.find(quiz_stats[:artist_id]).name%></a></h3>
</div>